.static {
    position: static
  }
  
  .fixed {
    position: fixed
  }
  
  .absolute {
    position: absolute
  }
  
  .relative {
    position: relative
  }
  
  .m-10 {
    margin: 2.5rem
  }
  
  .block {
    display: block
  }
  
  .inline {
    display: inline
  }
  
  .flex {
    display: flex
  }
  
  .contents {
    display: contents
  }
  
  .hidden {
    display: none
  }
  
  .h-full {
    height: 100%
  }
  
  .border {
    border-width: 1px
  }
  
  .bg-stone-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 244 / var(--tw-bg-opacity))
  }
  
  .bg-stone-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(231 229 228 / var(--tw-bg-opacity))
  }
  
  .bg-stone-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(168 162 158 / var(--tw-bg-opacity))
  }
  
  .bg-stone-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(41 37 36 / var(--tw-bg-opacity))
  }
  
  .bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
  }
  
  .text-base {
    font-size: 1rem;
    line-height: 1.5rem
  }
  
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
  
  .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
  
  .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
  }
  
  .text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
  }
  
  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
  
  .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
  }
  
  .font-light {
    font-weight: 300
  }
  
  .font-normal {
    font-weight: 400
  }
  
  .font-bold {
    font-weight: 700
  }
  
  .font-thin {
    font-weight: 100
  }
  
  .font-extralight {
    font-weight: 200
  }
  
  .uppercase {
    text-transform: uppercase
  }
  
  .capitalize {
    text-transform: capitalize
  }
  
  .text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
  }
  
  .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }
  
  .text-neutral-100 {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
  }
  
  .hover\:underline:hover {
    text-decoration-line: underline
  }